{% extends "base.html" %}

{% block title %}Simple Post Test{% endblock %}

{% block content %}

<h2>Simple Post Test</h2>

<form action="/simple_post_test/" method="post">
  <fieldset>
    <legend>Various form fields</legend>
    
    <p class="textbox">
      <label for="textbox">Textbox:</label>
      <input type="text" id="textbox" name="textbox" value="{{ textbox }}">
      <span class="value">{{ textbox }}</span>
    </p>
    
    <p class="radio1">
      <label for="radio1">Radiobutton 1:</label>
      <input type="radio" id="radio1" name="radio">
      <span class="value">{{ radio }}</span>
    </p>
    
    <p class="radio2">
      <label for="radio2">Radiobutton 2:</label>
      <input type="radio" id="radio2" name="radio">
      <span class="value">{{ radio }}</span>
    </p>

    <p class="checkbox">
      <label for="checkbox">Checkbox without value:</label>
      <input type="checkbox" id="checkbox" name="checkbox">
      <span class="value">{{ checkbox }}</span>
    </p>

    <p class="checkbox-with-value">
      <label for="checkbox-with-value">Checkbox with value:</label>
      <input type="checkbox" id="checkbox-with-value" name="checkbox_with_value" value="checkbox-value!">
      <span class="value">{{ checkbox_with_value }}</span>
    </p>

    <p class="textarea">
      <label for="textarea">Text area:</label>
      <textarea id="textarea" name="textarea">{{ textarea }}</textarea>
      <span class="value">{{ textarea }}</span>
    </p>
    
    <p class="select">
      <label for="select">Select list:</label>
      <select id="select" name="select">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
      </select>
      <span class="value">{{ select }}</span>
    </p>
    
    <p class="first-submit">
      <input type="submit" name="first_submit" id="first-submit" value="First submit">
      <span class="value">{{ first_submit }}</span>
    </p>

    <p class="second-submit">
      <input type="submit" name="second_submit" id="second-submit" value="Second submit">
      <span class="value">{{ second_submit }}</span>
    </p>
  </fieldset>
</form>

{% endblock %}