{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h2>Welcome to the Araña Library Test Harness</h2>
<p>
  This test harness is a set of HTML pages used to excersise the
  <a href="http://aranalib.net/">Araña Library</a>. Below is a
  list of all the different tests available in the harness.
</p>

<ul id="tests">
  <li id="simple-post-test"><a href="/simple_post_test">Simple post test</a></li>
  <li id="login-test"><a href="/login_test">Login test</a></li>
</ul>

{% endblock %}