{% extends "base.html" %}

{% block title %}Simple Post Test{% endblock %}

{% block content %}

<h2>Simple Post Test</h2>

<form action="/simple_post_test/" method="post">
  <fieldset>
    <legend>Various form fields</legend>
    
    <p class="textbox">
      <label for="textbox">Textbox:</label>
      <input type="text" id="textbox" name="textbox" value="{{ textbox }}">
      {{ textbox }}
    </p>
    
    <p class="radio">
      <label for="radio">Radiobutton:</label>
      <input type="radio" id="radio" name="radio">
      {{ radio }}
    </p>
    
    <p class="textarea">
      <label for="textarea">Text area:</label>
      <textarea id="textarea" name="textarea">{{ textarea }}</textarea>
      {{ textarea }}
    </p>
    
    <p class="select">
      <label for="select">Select list:</label>
      <select id="select" name="select">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
      </select>
      {{ select }}
    </p>
    
    <p class="submit">
      <input type="submit" name="submit" value="Submit">
      {{ submit }}
    </p>
  </fieldset>
</form>

{% endblock %}