{% extends "base.html" %}

{% block title %}Simple Post Test{% endblock %}

{% block content %}

<h2>Simple Post Test</h2>

<form action="/simple_post_test/" method="post">
  <fieldset>
    <legend>Various form fields</legend>
    
    <p class="textbox">
      <label for="textbox">Textbox:</label>
      <input type="text" id="textbox" name="textbox" value="{{ textbox }}">
      <span class="value">{{ textbox }}</span>
    </p>
    
    <p class="radio">
      <label for="radio">Radiobutton:</label>
      <input type="radio" id="radio" name="radio">
      <span class="value">{{ radio }}</span>
    </p>
    
    <p class="checkbox">
      <label for="checkbox">Checkbox:</label>
      <input type="checkbox" id="checkbox" name="checkbox">
      <span class="value">{{ checkbox }}</span>
    </p>

    <p class="textarea">
      <label for="textarea">Text area:</label>
      <textarea id="textarea" name="textarea">{{ textarea }}</textarea>
      <span class="value">{{ textarea }}</span>
    </p>
    
    <p class="select">
      <label for="select">Select list:</label>
      <select id="select" name="select">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
      </select>
      <span class="value">{{ select }}</span>
    </p>
    
    <p class="submit">
      <input type="submit" name="submit" value="Submit">
      <span class="value">{{ submit }}</span>
    </p>
  </fieldset>
</form>

{% endblock %}